html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #101c29;
  color: white;
  width: 700px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

button {
  padding: 15px;
  margin: 3px;
}

.circleTextContainer {
  position: absolute;
  left: 290px;
  top: 516px;
  display: table;
  table-layout: fixed;
  z-index: 9000;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}

.circleTextContainer p {
  overflow-wrap: break-word;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 1.3em;
  line-height: 1.5;
}
