html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  position: relative;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: white;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background: rgba(31,47,63,1);
  background: -moz-linear-gradient(top, rgba(31,47,63,1) 0%, rgba(56,74,84,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,47,63,1)), color-stop(100%, rgba(56,74,84,1)));
  background: -webkit-linear-gradient(top, rgba(31,47,63,1) 0%, rgba(56,74,84,1) 100%);
  background: -o-linear-gradient(top, rgba(31,47,63,1) 0%, rgba(56,74,84,1) 100%);
  background: -ms-linear-gradient(top, rgba(31,47,63,1) 0%, rgba(56,74,84,1) 100%);
  background: linear-gradient(to bottom, rgba(31,47,63,1) 0%, rgba(56,74,84,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2f3f', endColorstr='#384a54', GradientType=0 );
}

@media all and (min-width: 1000px) {
  body {
    width: 1000px;
  }
}

.settings {
  display: inline-block;
  height: 200px;
  margin-right: 10px;
}

button {
  padding: 15px;
  margin: 3px;
}

.fakeHeader {
  height: 80px;
}

.stageContainer {
  margin: 0 auto;
}

.additionalInfo {
  position: relative;
  opacity: 1;
  height: 200px;
}

.additionalInfo > div {
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.divider {
  width: 70%
}

.additionalInfo h2 {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.additionalInfo p {
  width: 60%;
  margin: 2em auto;
  text-align: center;
  line-height: 1.4;
  font-size: 1.1em;
}
