html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #101c29;
  color: white;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

@media all and (min-width: 740px) {
  body {
    width: 740px;
  }
}

button {
  padding: 15px;
  margin: 3px;
}

.fakeHeader {
  height: 80px;
}

.circleTextContainer {
  position: absolute;
  left: 39.2%;
  top: 39.2%;
  display: table;
  table-layout: fixed;
  z-index: 9000;
  width: 16.8%;
  height: 21.7%;
  padding: 2.5%;
  border-radius: 50%;
  text-align: center;
}

.circleTextContainer p {
  overflow-wrap: break-word;
  display: table-cell;
  vertical-align: middle;
  color: white;
  line-height: 1.5;
  font-size: 0.9em;
}

@media all and (min-width: 740px) {
  .circleTextContainer p {
    font-size: 1.4em;
  }
}
